backend/HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.junie
.workflowdocs

**/Data.xlsx

*.log
*.pid
/.idea/
/.env
/.gitignore
**/*.iml
/*.iml
/db_data