server:
  port: 8084
  error:
    include-message: always

spring:
  application:
    name: file-storage
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  codec:
    max-in-memory-size: 10MB

file-storage:
  profile-photo-directory: "backend/file-storage/src/main/resources/static/images/user-%s/profile-photo/"
  profile-photo-name: "%s-profile-photo%s"

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/