server:
  port: 8000

spring:
  application:
    name: nikolai-backend-daily-lexika
  datasource:
    url: jdbc:postgresql://${DB_HOST}:5432/daily_lexika
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    properties:
      hibernate:
        format_sql: 'true'
        show-sql: 'true'
    hibernate:
      ddl-auto: validate
  flyway:
    locations: "classpath:db/migration"

cors:
  allowed-origins: "*"
  allowed-methods: "*"
  allowed-headers: "*"
  exposed-headers: "*"

file-location:
  data-excel: "static/data/Data.xlsx"

logging:
  level:
    org:
      springframework:
        web: info
    root: info
