server:
  port: 8080

spring:
  application:
    name: application_user
  datasource:
    url: jdbc:postgresql://localhost:5432/application_user
    username: 'postgres'
    password: '1478236950'
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: 'true'
    hibernate:
      ddl-auto: update
    show-sql: 'true'